<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude([
        '.github',
        'docs',
        'temp',
        'tests',
        'vendor',
    ])
    ->in(__DIR__);

    return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR1' => true,
        '@PSR2' => true,
        'array_syntax' => array('syntax' => 'short'),
        'combine_consecutive_unsets' => true,
        'no_extra_consecutive_blank_lines' => array(
        'break',
        'continue',
        'extra',
        'return',
        'throw',
        'use',
        'parenthesis_brace_block',
        'square_brace_block',
        'curly_brace_block'
        ),
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'phpdoc_add_missing_param_annotation' => true
        ))
    ->setFinder($finder);
