parameters:
    level: 1
    paths:
        - src
    excludePaths:
        - 'src/User/resources/i18n/*'
        - 'src/User/resources/views/bootstrap3/*'
    bootstrapFiles:
        - stan_autoload.php
